.pf-circle 
	//If you use compass, instead of the line below you could use + border-radius($radius, $vertical-radius)
	border-radius: 50%!important

.pf-round-small 
	//If you use compass, instead of the line below you could use + border-radius($radius, $vertical-radius)
	border-radius: 2px!important

.pf-round 
	//If you use compass, instead of the line below you could use + border-radius($radius, $vertical-radius)
	border-radius: 4px!important

.pf-round-medium 
	//If you use compass, instead of the line below you could use + border-radius($radius, $vertical-radius)
	border-radius: 4px!important

.pf-round-large 
	//If you use compass, instead of the line below you could use + border-radius($radius, $vertical-radius)
	border-radius: 8px!important

.pf-round-xlarge 
	//If you use compass, instead of the line below you could use + border-radius($radius, $vertical-radius)
	border-radius: 16px!important

.pf-round-xxlarge 
	//If you use compass, instead of the line below you could use + border-radius($radius, $vertical-radius)
	border-radius: 32px!important

.pf-round-jumbo 
	//If you use compass, instead of the line below you could use + border-radius($radius, $vertical-radius)
	border-radius: 64px!important