.pf-margin {
	margin: 16px !important;
}
.pf-margin-0 {
	margin: 0 !important;
}
.pf-margin-top {
	margin-top: 16px !important;
}
.pf-margin-bottom {
	margin-bottom: 16px !important;
}
.pf-margin-left {
	margin-left: 16px !important;
}
.pf-margin-right {
	margin-right: 16px !important;
}