.pf-padding-tiny {
	padding: 2px 4px !important;
}
.pf-padding-small {
	padding: 4px 8px !important;
}
.pf-padding-medium {
	padding: 8px 16px !important;
}
.pf-padding {
	padding: 8px 16px !important;
}

.pf-padding-large {
	padding: 12px 24px !important;
}
.pf-padding-xlarge {
	padding: 16px 32px !important;
}
.pf-padding-xxlarge {
	padding: 24px 48px !important;
}
.pf-padding-jumbo {
	padding: 32px 64px !important;
}
.pf-padding-4 {
	padding-top: 4px !important;
	padding-bottom: 4px !important;
}
.pf-padding-8 {
	padding-top: 8px !important;
	padding-bottom: 8px !important;
}
.pf-padding-12 {
	padding-top: 12px !important;
	padding-bottom: 12px !important;
}
.pf-padding-16 {
	padding-top: 16px !important;
	padding-bottom: 16px !important;
}
.pf-padding-24 {
	padding-top: 24px !important;
	padding-bottom: 24px !important;
}
.pf-padding-32 {
	padding-top: 32px !important;
	padding-bottom: 32px !important;
}
.pf-padding-48 {
	padding-top: 48px !important;
	padding-bottom: 48px !important;
}
.pf-padding-64 {
	padding-top: 64px !important;
	padding-bottom: 64px !important;
}
.pf-padding-128 {
	padding-top: 128px !important;
	padding-bottom: 128px !important;
}
.pf-padding-0 {
	padding: 0 !important;
}
.pf-padding-top {
	padding-top: 8px !important;
}
.pf-padding-bottom {
	padding-bottom: 8px !important;
}
.pf-padding-left {
	padding-left: 16px !important;
}
.pf-padding-right {
	padding-right: 16px !important;
}