.pf-row {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
	&:before {
		content: "";
		display: table;
		clear: both;
	}
}
.pf-row-padding {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
	&:before {
		content: "";
		display: table;
		clear: both;
	}
	padding: 0 8px;
	>.pf-half {
		padding: 0 8px;
	}
	>.pf-third {
		padding: 0 8px;
	}
	>.pf-twothird {
		padding: 0 8px;
	}
	>.pf-threequarter {
		padding: 0 8px;
	}
	>.pf-quarter {
		padding: 0 8px;
	}
	>.pf-col {
		padding: 0 8px;
	}
}

.pf-content {
	max-width: 980px;
	margin: auto;
}


.pf-half {
	float: left;
	width: 100%;
	width: 99.99999%;
}
.pf-third {
	float: left;
	width: 100%;
	width: 99.99999%;
}
.pf-twothird {
	float: left;
	width: 100%;
	width: 99.99999%;
}
.pf-threequarter {
	float: left;
	width: 100%;
	width: 99.99999%;
}
.pf-quarter {
	float: left;
	width: 100%;
	width: 99.99999%;
}

.pf-rest {
	overflow: hidden;
}




.pf-col {
	float: left;
	width: 100%;
}


@media (min-width:601px) {
	.pf-col.m1 {
		width: 8.33333%;
	}
	.pf-col.m2 {
		width: 16.66666%;
	}
	.pf-col.m3 {
		width: 24.99999%;
	}
	.pf-quarter {
		width: 24.99999%;
	}
	.pf-col.m4 {
		width: 33.33333%;
	}
	.pf-third {
		width: 33.33333%;
	}
	.pf-col.m5 {
		width: 41.66666%;
	}
	.pf-col.m6 {
		width: 49.99999%;
	}

	.pf-col.m7 {
		width: 58.33333%;
	}
	.pf-col.m8 {
		width: 66.66666%;
	}
	.pf-twothird {
		width: 66.66666%;
	}
	.pf-col.m9 {
		width: 74.99999%;
	}
	.pf-threequarter {
		width: 74.99999%;
	}
	.pf-col.m10 {
		width: 83.33333%;
	}
	.pf-col.m11 {
		width: 91.66666%;
	}
	.pf-col.m12 {
		width: 99.99999%;
	}
}
@media (min-width:993px) {
	.pf-col.l1 {
		width: 8.33333%;
	}
	.pf-col.l2 {
		width: 16.66666%;
	}
	.pf-col.l3 {
		width: 24.99999%;
	}
	.pf-quarter {
		width: 24.99999%;
	}
	.pf-col.l4 {
		width: 33.33333%;
	}

	.pf-col.l5 {
		width: 41.66666%;
	}
	.pf-col.l6 {
		width: 49.99999%;
	}
	.pf-half {
		width: 49.99999%;
	}
	.pf-col.l7 {
		width: 58.33333%;
	}
	.pf-col.l8 {
		width: 66.66666%;
	}

	.pf-col.l9 {
		width: 74.99999%;
	}
	.pf-threequarter {
		width: 74.99999%;
	}
	.pf-col.l10 {
		width: 83.33333%;
	}
	.pf-col.l11 {
		width: 91.66666%;
	}
	.pf-col.l12 {
		width: 99.99999%;
	}
	.pf-modal-content {
		width: 900px;
	}
	.pf-hide-large {
		display: none !important;
	}
	.pf-sidenav.pf-collapse {
		display: block !important;
	}
	.pf-sidebar.pf-collapse {
		display: block !important;
	}
}


.pf-col.s1 {
	width: 8.33333%;
}
.pf-col.s2 {
	width: 16.66666%;
}
.pf-col.s3 {
	width: 24.99999%;
}
.pf-col.s4 {
	width: 33.33333%;
}
.pf-col.s5 {
	width: 41.66666%;
}
.pf-col.s6 {
	width: 49.99999%;
}
.pf-col.s7 {
	width: 58.33333%;
}
.pf-col.s8 {
	width: 66.66666%;
}
.pf-col.s9 {
	width: 74.99999%;
}
.pf-col.s10 {
	width: 83.33333%;
}
.pf-col.s11 {
	width: 91.66666%;
}
.pf-col.s12 {
	width: 99.99999%;
}


@media (max-width:600px) {
	.pf-modal-content {
		margin: 0 10px;
		width: auto !important;
	}
	.pf-modal {
		padding-top: 30px;
	}
	.pf-topnav {
		a {
			display: block;
		}
		.pf-dropdown-hover {
			.pf-dropdown-content {
				position: relative;
			}
		}
		text-align: center;
	}
	.pf-navbar {
		li {
			&:not(.pf-opennav) {
				float: none;
				width: 100% !important;
			}
		}
		li.pf-right {
			float: none !important;
		}
		.pf-dropdown-click {
			.pf-dropdown-content {
				position: relative;
			}
		}
		.pf-dropdown-hover {
			.pf-dropdown-content {
				position: relative;
			}
		}
		text-align: center;
	}
	.pf-dropdown-hover.pf-mobile {
		.pf-dropdown-content {
			position: relative;
		}
		text-align: center;
		width: 100%;
		.pf-btn {
			width: 100%;
		}
		.pf-button {
			width: 100%;
		}
	}
	.pf-dropdown-click.pf-mobile {
		.pf-dropdown-content {
			position: relative;
		}
		text-align: center;
		width: 100%;
		.pf-btn {
			width: 100%;
		}
		.pf-button {
			width: 100%;
		}
	}
	.pf-hide-small {
		display: none !important;
	}
	.pf-layout-col {
		display: block;
		width: 100% !important;
	}
	.pf-mobile {
		display: block;
		width: 100% !important;
	}
	.pf-bar-item.pf-mobile {
		text-align: center;
	}
}

@media (max-width:992px) and (min-width:601px) {
	.pf-hide-medium {
		display: none !important;
	}
}

.pf-image {
	max-width: 100%;
	height: auto;
}

