//colors
$yellow: #ff0
$black: #000
$silver: #c0c0c0
$color_gallery_approx: #eee
$color_celeste_approx: #ccc
$color_alto_approx: #ddd
$seashell: #f1f1f1
$white: #fff
$black_20: rgba(0, 0, 0, 0.2)
$black_19: rgba(0, 0, 0, 0.19)
$black_40: rgba(0, 0, 0, 0.4)
$gray: #808080
$color_gossamer_approx: #009688
$color_red_orange_approx: #f44336
$color_tapa_approx: #757575
$color_silver_chalice_approx: #aaa
$black_50: rgba(0, 0, 0, 0.5)
$color_apple_approx: #4caf50
$crimson: crimson
$black_16: rgba(0, 0, 0, 0.16)
$black_12: rgba(0, 0, 0, 0.12)
$black_24: rgba(0, 0, 0, 0.24)
$black_22: rgba(0, 0, 0, 0.22)
$black_21: rgba(0, 0, 0, 0.21)
$color_tundora_approx: #444
$color_amber_approx: #ffc107
$cyan_aqua: #00ffff
$color_dodger_blue_approx: #2196f3
$color_seagull_approx: #87ceeb
$color_roman_coffee_approx: #795548
$color_robins_egg_blue_approx: #00bcd4
$color_smalt_blue_approx: #607d8b
$color_sushi_approx: #8bc34a
$color_cerulean_blue_approx: #3f51b5
$khaki: #f0e68c
$color_pear_approx: #cddc39
$color_california_approx: #ff9800
$color_flamingo_approx: #ff5722
$color_razzmatazz_approx: #e91e63
$color_violet_eggplant_approx: #9c27b0
$color_purple_heart_approx: #673ab7
$old_lace: #fdf5e6
$color_golden_fizz_approx: #ffeb3b
$color_star_dust_approx: #9e9e9e
$color_storm_dust_approx: #616161
$color_pippin_approx: #ffdddd
$color_snowy_mint_approx: #ddffdd
$color_cream_approx: #ffffcc
$color_baby_blue_approx: #ddffff
$color_husk_approx: #b4aa50
$color_gold_tips_approx: #d2be0e
$color_masala_approx: #3a3a3a
$color_fair_pink_approx: #ffe7e7
$color_hint_of_green_approx: #e7ffe7
$color_tranquil_approx: #e7ffff