.pf-tiny {
	font-size: 10px !important;
}
.pf-small {
	font-size: 12px !important;
}
.pf-medium {
	font-size: 15px !important;
}
.pf-large {
	font-size: 18px !important;
}
.pf-xlarge {
	font-size: 24px !important;
}
.pf-xxlarge {
	font-size: 36px !important;
}
.pf-xxxlarge {
	font-size: 48px !important;
}
.pf-jumbo {
	font-size: 64px !important;
}
.pf-slim {
	font-family: "Segoe UI", Arial, sans-serif;
}
.pf-wide {
	font-family: "Segoe UI", Arial, sans-serif;
	letter-spacing: 4px;
}
.pf-serif {
	font-family: "Times New Roman", Times, serif;
}
.pf-vertical {
	word-break: break-all;
	line-height: 1;
	text-align: center;
	width: 0.6em;
}
.pf-text-shadow {
	text-shadow: 1px 1px 0 #444;
}
.pf-text-shadow-white {
	text-shadow: 1px 1px 0 #ddd;
}