//fonts
$font_0: monospace
$font_1: Verdana
$font_2: sans-serif
$font_3: Segoe UI
$font_4: Arial
$font_5: Times New Roman
$font_6: Times
$font_7: serif
$font_8: Consolas
$font_9: courier new